<h4>
	<span class="label label-primary"><%= calendar_event.date.strftime("%H:%M") %></span>
	<em>
		<small>
			(by <%= calendar_event.user.fullname.empty? ? calendar_event.user.email : calendar_event.user.fullname %>)
		</small>
	</em>
	<% if calendar_event.user == current_user %>
		<a href="<%= edit_calendar_event_path(calendar_event) %>"><%= calendar_event.title %></a>
	<% else %>
		<%= calendar_event.title %>
	<% end %>
	<small>
	<% if calendar_event.repeat != 'once' %>
		This is <%= calendar_event.repeat %> event. Started at <%= calendar_event.date.strftime("%d %B %Y") %>
	<% end %>
	</small>
</h4>
