<h3>
	<a href="<%= users_calendar_events_path %>?for_date=<%= @events_date - 1.day %>">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	Your events for <%= @events_date.strftime("%B, %d") %>
	<a href="<%= users_calendar_events_path %>?for_date=<%= @events_date + 1.day %>">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</h3>

<%= render @calendar_events %>
